        
{{>partials/header}}
    <body>    
        <div class="content">
            {{#response}}
                <div class="div-phrases">
                    <h1 class="h1">Conselho</h1>
                    <h2 class="phrases"> {{data.translatedText}}</h2>
                    
                    <form method="get" class="form">
                        <select class="browser-default" name="contry">
                            {{{options}}}
                        </select>
                        <button class="button button--pandora" type="submit"><span>Outro conselho</span></button>
                    </form>
                </div>
            {{/response}}
        </div>
        <script src="/assets/js/default.js"></script>
    </body>

{{>partials/footer}}
